<h3>SHERPA/ROMEO Lookup service for ISSN <%= params[:idfield] %></h3>

<h4>JOURNAL</h4>
<pre>
  <%= show_data_for(data["data"].dig("romeoapi","journals")) %>
</pre>
<hr/>
<h4>PUBLISHER</h4>
<pre>
  <%= show_data_for(data["data"].dig("romeoapi","publishers")) %>
</pre>
<hr/>
<h4>HEADER</h4>
<pre>
  <%= show_data_for(data["data"].dig("romeoapi","header")) %>
</pre>